#history {
    height: 500px;
    /*width: 100%;*/
    display: flex;
    flex-direction: column;
    background: gainsboro;
    overflow-y: auto;
}

.question {
    width: 50%;
    color: blue;
    align-self: end;
    text-align: right;
}